body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.box
{
display: inline-block;
width: 650px;
height: 250px;
margin: 50px;

}
#pie
{
  position: relative;
  top: 60px;
}
#site
{
  position: relative;
  top: 60px;
}
.container
{ 
  display: flex;
  flex-direction: row;
  margin: 50;
  border: 2x solid rgb(218, 5, 5);
  
}
#p{
  position: relative;
  right: 71;
}
.map-container {
  position: relative;
  height: 400px;
  width: 100%;
  top: 0px;
  right: 70;
  }
  #sites
  {
    position: relative;
    top: 27px;
    right: 10px;
  }
  .download
  {
    left: 500px;
  }